@media screen and (max-width: 570px) {
  #beforeExpand{
    background-color: #e1e1e1;
    width:350px;
    margin: 0 auto ;
  }

  #afterExpand{
    background-color: #e1e1e1;
    width:350px;
    margin: 0 auto;

  }

  .content-box{
    width: 100%;
    margin-bottom: 20px;
  }

  .img-box{
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
  }

  p{
    margin-bottom: 10px;
  }

  #tg-details{
    position: relative;
    left: 10px;
  }

  #tg-details:active{
    border: orange 1px solid;
  }

}


@media screen and (max-width: 800px) and (min-width: 570px){
  #beforeExpand{
    background-color: #e1e1e1;
    width: 100%;
    margin: 0 auto;
  }

  #afterExpand{
    background-color: #e1e1e1;
    /*width:350px;*/
    width: 100%;
    margin: 0 auto;

  }

  .content-box{
    width: 100%;
    margin-bottom: 20px;
    padding-left: 50px;
    padding-right: 20px;
  }

  .img-box{
    margin: 15px auto;
    text-align: center;
    padding-bottom: 20px;
  }

  p{
    margin-bottom: 10px;
  }

  #tg-details{
    position: relative;
    left: 10px;
  }

  #tg-details:active{
    border: orange 1px solid;
  }

}



@media screen and (min-width: 570px) {
  #beforeExpand{
    background-color: #e1e1e1;
    width:90%;
    margin: 0 auto;

  }
  #afterExpand{
    background-color: #e1e1e1;
    /*height: 400px;*/
    width:90%;
    margin: 0 auto;

  }

  .tab{
  }

  .img-box{
    height: 100%;
    text-align: center;

  }
  .card_img{
    margin: 0 auto;
    position: relative;
    top: 15px;
    height: 120px;
    width: 120px;
  }
  .content-box{
    padding-top: 10px;
    margin-bottom: 20px;
    padding-left: 50px;
    padding-right: 25px;
  }
  .card_title{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
  }
  #tg-details{
    position: relative;
    left: 10px;
  }
  #tg-details:active {
    border: 2px solid blue;
  }

  #tg-details:visited {
    border: 2px solid blue;
  }

}
